@charset "utf-8";
html{
  font-size:100px;
  background: #070400  url(../images/bg.jpg) no-repeat center top;
}
@media(max-width: 750px){
  html{
    font-size:13.33333vw;
  }
}

body{background: #171717 url(../images/bodybg.jpg) no-repeat center top;background-size: 100% auto;font-size:.25rem;min-height:100vh;}
.ruleBox{
	
}
/* --------------index-start-------------- */
.dn { display:none;}
#screen { position:fixed; z-index:2; width:100%; height:100%; background:rgba(0,0,0,0.5); left:0; top:0; display:none;}
.header { text-align:center; color:#f5e2b1; font-size:.4rem; line-height:1.02rem; background:url(../images/line1.jpg) left top repeat-x; background-size: auto 100%; height:1.2rem;}
.header .logo {display:block;float:left;background:url(../images/logo.png) center no-repeat;width: 1.77rem;height: .96rem;background-size:100% 100%;margin-left:.21rem;margin-top: .12rem;}
.header .searchBtn { display:block; background:url(../images/search.png) center no-repeat; width:2.92rem; height:.58rem; background-size:100% auto; float:right; margin-top:.33rem;
margin-right:.2rem;}
.line {/* background:url(../images/bottomline.jpg) center no-repeat; */background-size:100% auto;background-size:100% auto;height:.03rem;}

.banner{
	
}
.banner img{
  display:block;
  width:7.5rem;
  height:2.75rem;
}
.dn{display:none;}
.luntop{
  position:relative;
}
.banxu{
  height:3.4rem;
  overflow:hidden;
}
.banxu img{
  width:7.5rem;
  height:3.4rem;
}
.banner .swiper-container { width: 100%; height: 100%;}
.banner .swiper-slide { text-align: center; font-size: 18px; background: #fff; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex;
 display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center;
 -webkit-align-items: center; align-items: center;}
.banner span { background:#0f0303; opacity:1}
.banner .swiper-pagination-bullet-active { background:#f6e4b3;}
.txtMarquee-top {width:6.83rem;margin:.24rem auto;border: 0.1rem solid #232322;border-radius: 10px;box-sizing:border-box;padding:.2rem 0 0 .2rem;height:1.65rem;background: #161515;}
.infoList li { line-height:.4rem;}

.infoList a { color:#fff;}
.infoList a .blue { min-width:2rem; display:inline-block; color:#39d9fb;}
.infoList a .green { color:#4ae52b;}
.infoList a .red { color:#e52b2b;}
.tabBox { padding:0 .15rem;}
.tabTit { overflow:hidden; border-bottom:.02rem solid #edd9a7;
	width:7.19rem;
	height:.87rem;
	background: url(../images/navbg.png) no-repeat center top;
	background-size: 100% ;
	padding:0px .2rem;
	box-sizing: border-box;
}
.tabTit span{
	display:block;
	float:left;
	width:16.66%;
	text-align:center;
	color: #ffeec2;
	cursor:pointer;
	background: url(../images/gexian.png) no-repeat center right;
	background-size: .02rem;
	height:.87rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.tabTit .cur { background:url(../images/cur.png) center no-repeat; background-size:100% 100%; color:#18181a;}
.choseBox ul { padding-bottom:.48rem; overflow:hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;  
  -moz-flex-wrap: wrap;  
  -ms-flex-wrap: wrap;  
  -o-flex-wrap: wrap;  
  flex-wrap: wrap;
}
.choseBox li {
	margin-top:.22rem;
	position:relative;
	width: 100%;
	height: 2.43rem;
	overflow:hidden;
	background: #282828;
	background-size: 100% 100%;
}
.choseBox li a img{
  width: 100%;
  height: 1.8rem;
}
.notice{
  margin-top:2.15rem;
}
.choseBox .posBar { position:absolute; left:0; bottom:0; width:100%; height:.61rem;   overflow:hidden;}
.posBar .rule {float:right;background:url(../images/notice.png) left center no-repeat;background-size:.23rem auto;line-height:.56rem;color: #fff;padding-left:.3rem;font-size:.24rem;margin-right:.15rem;}
.posBar .replay { display:block; background:url(../images/replay.png) center no-repeat; width:1.56rem; height:.5rem; background-size:100% auto; position:absolute; left:.1rem; top:.05rem;}
.footer { position:fixed; overflow:hidden; left:0; bottom:0; width:100%;}
.footer a {padding:.2rem 0 .17rem;display:block;float:left;width:25%;box-sizing:border-box;/* border-right:.01rem solid #4c1818; *//* border-top:.01rem solid #4c1818; */background: #282828;color: #ffc262;text-align:center;}
.footer img { height:.48rem; margin:0 auto; width:auto;}
.h120 { height:1.2rem;}
/**/
.activeSearch {position:fixed; display:none; left:50%; top:50%; transform:translate(-50%,-50%); z-index:3;}
.activeBox { width:6.28rem; border:1px solid #e2cd9c; background:url(../images/bg.jpg) center no-repeat; background-size:cover;}
.activeTit { width:5.9rem; margin:.66rem auto .58rem;}
.activeForm p { position:relative; padding:.2rem 0; width:5rem; margin:0 auto .25rem; background:#000000; border:1px solid #c8b178; border-radius:4px;}
.activeForm p input { border:none; color:#e2cd9c; outline:none; width:100%; background:none; text-indent:.33rem; outline:none; font-size:.26rem;}
.activeForm p select { border:none; color:#e2cd9c; outline:none; width:100%; background:none; text-indent:.3rem; outline:none; font-size:.26rem;}
.activeForm p input::-webkit-input-placeholder {color: #e2cd9c;}
.activeForm .check { width:3.8rem;}
.activeForm img { width:1.04rem; position:absolute; right:.12rem; top:50%; transform:translateY(-50%);}
.activeBox .subBtn { display:block; background:url(../images/replayb.png) center no-repeat; width:2.79rem; height:.72rem; margin:.7rem auto .5rem; background-size:100% auto;}
.activeSearch .closeBtn { display:block; background:url(../images/closeBtn.png) center no-repeat; background-size:100% 100%; width:.89rem; height:.91rem; margin:.22rem auto 0;}
.activeSearch .subBtn2 {display:block; background:url(../images/searchBtn.png) center no-repeat; width:2.79rem; height:.72rem; margin:.7rem auto .5rem; background-size:100% auto;}
/**/
.header .back { background:url(../images/back.png) left center no-repeat; background-size:.23rem auto; padding-left:.37rem; color:#f6e4b3; font-size:.34rem; position:absolute; left:.22rem;
top:0; line-height:1.2rem;}
.header .rep { background:url(../images/replayc.png) center no-repeat; display:block; width:1.7rem; height:.5rem; background-size:100% auto; position:absolute; top:.41rem; right:.21rem;
background-size:100% 100%;}
.ruleBox h2 {

display: -webkit-box;

display: -webkit-flex;

display: -ms-flexbox;

display: flex;

-webkit-box-pack: justify;

-webkit-justify-content: space-between;

-ms-flex-pack: justify;

justify-content: space-between;

-webkit-box-align: center;

-webkit-align-items: center;

-ms-flex-align: center;

align-items: center;

margin: .2rem;

color:#fff;

font-size:.3rem;

height: .63rem;

/* background:#301011; */

/* border:1px solid #5a1a1e; */

border-radius: .08rem;

border-bottom: 1px solid #252322;

}

h2 {}
.ruleBox p { color:#f6e4b3; padding:0 .2rem; line-height:.48rem;}



.forminpt li{
  margin-bottom:.15rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.foemzuo{
  width:1.50rem;
  text-align:right;
  line-height:53rem;
  font-size:.20rem;
  padding-right:.10rem;
  color:#fff;
  display:none;
}
.yeoywz{
  color:#fff;
}
.fontyou{
  position:relative;
 
}
.taninpt{
  color: #111;
  width:100%;
  height:.61rem;
  background: none;
  border: 1px solid #633716;
  text-indent:.04rem;
  font-size: .20rem;
  border-radius: .09rem;
  text-indent:.10rem;
  line-height: .61rem;
  background: #ffffff;
}
.taninpt::-webkit-input-placeholder { /* WebKit browsers*/ 
  color:#111;
}
.taninpt:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
  color:#111;
}
.taninpt::-moz-placeholder {  /* Mozilla Firefox 19+*/ 
  color:#111;
}
.taninpt:-ms-input-placeholder { /* Internet Explorer 10+*/ 
  color:#111;
}
select.taninpt{
  /* color:#999; */
}
.tanbtn1{
 
  display:block;
  width: 2.11rem;
  height:.71rem;
	color:#000;
	line-height:.71rem;
  border: none;
  background:url(../images/tanbtn.png) no-repeat center top;
  margin: 0 auto;
  background-size: 100% 100%;
  font-size: .3rem;
  font-weight: bold;
	text-align:center;
	
}
.tanbtn2{
  color:#fff;
  text-align:center;
  line-height:.40rem;
  margin:0 auto;
  display:block;
  width: 1.94rem;
	height: .40rem;
	border-radius: .20rem;
	background-color: #d10000;
	background-image: -webkit-linear-gradient(bottom, #d40101 1%, #8d0000 25%, #d50000);
	background-image: -moz-linear-gradient(bottom, #d40101 1%, #8d0000 25%, #d50000);
	background-image: -o-linear-gradient(bottom, #d40101 1%, #8d0000 25%, #d50000);
	background-image: -ms-linear-gradient(bottom, #d40101 1%, #8d0000 25%, #d50000);
	background-image: linear-gradient(to top, #d40101 1%, #8d0000 25%, #d50000);
  margin-top:.33rem;
}
.yeoywz{
  line-height:.53rem;
  font-size:.18rem;
}
.hong{
  color:#FF0000;
}
.subcont{
  width: 7.00rem;
  margin:0 auto;
  margin-top:.22rem;
}
.sosaotp{
  
}
.subtalt{
  border-bottom:.01rem solid #b8b8b8;
  padding: .09rem 0rem;
  /* height:60rem; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.sosaotp{
  font-size:.30rem;
  color: #fff;
  line-height: .33rem;
}
.backbtn{
  width: .9rem;
	height: .43rem;

	background: url(../images/backbg.png) no-repeat center top;
  text-align:center;
  font-size:.32rem;
  background-size: 100% 100%;
  color:#623a1a;
  line-height:.58rem;
	text-indent:-9999rem;
}

.tablebox{
  width:6.10rem;
  margin:0 auto;
}
.tablebox td{
  height:.56rem;
  text-align:center;
  border: .01rem solid #fff;
  font-size:.20rem;
  color: #fff;
}
.tabtou td{
  /* color:#a46b1d; */
}
.chasneq{
  color:#f52d2d;
  position:relative;
  cursor:pointer;
  font-size:.20rem;
}
.chasneq:hover .qipao{
  display:block;
}
.qipao{
  position:absolute;
  width:2.12rem;
  height:1.61rem;
  bottom: 100%;
  right: .01rem;
  display:none;
  color:#fff;
  background: url(../images/qipao.png) no-repeat center top;
  background-size: 100% 1005;
}
.qipawz{
  font-size:.12rem;
  padding:.12rem;
  color:#fff;
  line-height:.18rem;
  
}
.futans{
  position:fixed;
  left: 0rem;
  top: 0rem;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
}
.funtanin{
  width:5.20rem;
  margin:0 auto;
  background:#212121;
  border:.02rem solid #ffd182;
  padding:.30rem .40rem;
  position:relative;
  top: .30rem;
  box-sizing: border-box;
  border-radius: .08rem;
}
.fudclose:after{
  content:"×";
  position:absolute;
  width:.50rem;
  height:.50rem;
  text-align:center;
  line-height:.50rem;
  font-size:.26rem;
  border-radius: 100%;
  right: -.15rem;
  top: -.15rem;
  background:#ffd182;
  cursor:pointer;
}
.tlbox{
  text-align:center;
  font-size:.30rem;
  border-bottom: .01rem solid #fee563;
  margin-bottom:.30rem;
  color:#ffd182;
  line-height: .80rem;
}

.layerconts{
  width: 6.72rem;
  background: #341213;
  border-radius: .19rem;
  position:relative;
  margin:0 auto;
  top:5%;
  /* border: .02rem solid #f0cc4c; */
  padding:.27rem .45rem;
  box-sizing: border-box;
  display:none;
  background: url(../images/tanbg.jpg) no-repeat center top;
  background-size: cover;
}
.close{
  position:absolute;
  right: .06rem;
  top:.06rem;
  width: .49rem;
  height: .49rem;
  background: url(../images/close.png) no-repeat center top;
  background-size: 100%;
  cursor:pointer;
}
.logox{
  text-align:center;
  padding-top:.58rem;
  padding-bottom:.18rem;
}
.tlbox{
  text-align:center;
  font-size: .4rem;
  color: #fee563;
  background: url(../images/xian.png) no-repeat center center;
  margin-bottom:.23rem;
  background-size: 4.2rem;
}
.forminpt{
  
}
.forminpt >div{

}
.foemzuo{
  width:3.00rem;
  text-align:right;
  line-height:.33rem;
  padding-right:.10rem;
  color: #f9efa8;
  float:left;
}
.fontyou{
  position:relative;
  margin-bottom:.20rem;
}
.taninpt{

}

.tanbtn2{
  color:#000;
  text-align:center;
  line-height:.40rem;
  margin:0 auto;
  display:block;
  width: 1.94rem;
	height: .40rem;
	border-radius: .20rem;
	background-image: -webkit-linear-gradient(bottom, #ee6d00, #f8c500);
	background-image: -moz-linear-gradient(bottom, #ee6d00, #f8c500);
	background-image: -o-linear-gradient(bottom, #ee6d00, #f8c500);
	background-image: -ms-linear-gradient(bottom, #ee6d00, #f8c500);
	background-image: linear-gradient(to top, #ee6d00, #f8c500);
  margin-top:.33rem;
}
.layerbtn{
  cursor:pointer;
}
 
.yeoywz{
  line-height:.33rem;
  color: #fff;
}
.hong {
  color:#FF0000;
}

.tablebox{
  width: 100%;
  margin:0 auto;
}
.tablebox td{
  height:.36rem;
  text-align:center;
  border: .01rem solid #fff;
  color: #fff;
}
.tabtou td{
}
.bantls{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height:.50rem;
  padding: 0px .15rem;
}
.bantls-1{
  color:#fff;
  font-size:.20rem;
  padding-left:.20rem;
  background: url(../images/tlbg.png) no-repeat center left;
  background-size: .11rem;
}
.bantls-2{
  font-size:.20rem;
  color:#823a00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight:bold;
}
.bantls-2 a{
  width:1.04rem;
  height:.36rem;
  background: url(../images/btnbg.png) no-repeat center top;
  background-size: 100% 100%;
  text-align:center;
  line-height:.36rem;
  color: #2c2c2c;
  margin-left:.10rem;
  font-weight:bold;
}
.tiles{
  text-align:center;
  font-weight:bold;
  color:#fff;
  
  text-align:center;
  line-height:.44rem;
  border-bottom:.02rem solid #323232;
}
.asimg{
  display:block;
  padding-top:.09rem;
}
.tuteks{
  text-align:center;
  color:#fff;
  line-height: .51rem;
  font-size: .18rem;
}
.asimg img{
  display:block;
  
  margin:0 auto;
}
  
.taninpt-yzm{
  /* width: 365rem; */
}
.huang{
  /* color:#fff000; */
}
.max{
  position:absolute;
  right:.10rem;
  top: .01rem;
  height:.61rem;
  width:2.1rem;
}
.dwnnz{
  overflow: auto;
  overflow-scrolling : touch;
  -webkit-overflow-scrolling : touch;
  -moz-overflow-scrolling : touch;
  -ms-overflow-scrolling : touch;
  -o-overflow-scrolling : touch;
}

.scolling{
  overflow-scrolling : touch;
  -webkit-overflow-scrolling : touch;
  -moz-overflow-scrolling : touch;
  -ms-overflow-scrolling : touch;
  -o-overflow-scrolling : touch;
}

.upfile{
  width: 3.22rem;
  height:.34rem;
  background:#fff;
  border: .01rem solid #e1e1e1;
  text-indent:.04rem;
  position:relative;
  line-height:.34rem;
}
.xuanze{
  color:#fff;
  position:absolute;
  right: 0rem;
  top: 0rem;
  height: .63rem;
  padding:0rem .20rem;
  background: #003c58;
  line-height:.63rem;
  font-size:.22rem;
}
body .laydate-icon{
  width: 5.80rem;
  height:.63rem;
  box-sizing: border-box;
	color:#333;
}
.logox{
  display:none;
}

 

.imgname{
  display:none;
}
.imgname.cur{
  display:block;
}

body .layui-layer-demo{
  background:none;
  box-shadow: 0rem 0rem 0rem #000;
}
body .layui-layer-demo iframe{
  
}
.logox img{
  
}
*{
  padding: 0rem;
  margin:0;
}
.tac{
  text-align:center;
}

.subctn1 .foemzuo{
  color: #fff;
}

.huang{
  color:#fff000;
}
.notes_tr{
  display:none;
}



table{border-collapse:collapse;}


/* 分页 */
.pagebos{
  max-width: 7.1rem;
  margin:0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color:#fff;
}
.pagebos >div{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  padding-top:.1rem;
}
.pagebtn_p{
  color:#fff;
}
.pagebtn_p a{
  color:#fff;
  padding-left:.24rem;
}
.pagebtn_p a:hover{
  color:#fff000;
}
.cl{
  clear:both;
}

.txtMarquee-top{
  position:relative;
  overflow:hidden;
}
.txtMarquee-top ul{
  position:absolute;
  left: 0px;
  top: 0px;
  width:100%;
}

.suona{
	width: 7.23rem;
	height: 0.5rem;
	background: #171717;
	border-radius: 0.5rem;
	margin: 0.1rem auto 0;
	line-height: 0.5rem;
	padding: 0 0.23rem;
	display: flex;
	align-items:center;
	border: 2px solid #4d3c22;
	box-sizing: border-box;
	margin-bottom:.2rem;
	margin-top: .3rem;
}
.suona i{
	content:'';
	display: inline-block;
	width: 0.32rem;
	height: 0.32rem;
	background: url(../images/suona.png) no-repeat center;
	background-size: 100%;	
	line-height: 0.5rem;
	margin-right: 0.14rem;
}
.suona marquee{
	display: inline-block;
	font-size: 0.25rem;
	color: #FFFFFF;
	line-height: 0.5rem;
	overflow: hidden;
	width: 6.7rem;
}

.footer a:nth-child(even){
	background: #070400;
}

.newbox{
 
	height:.5rem;
	width:100%;
	z-index: 99;
}
.newin{
	height: .5rem;
	width: 5.8rem;
}
.lunleft{
	position:relative;
	overflow:hidden;
	height:.5rem;
}
.lunleft ul{
	position:absolute;
	left:100%;
	top: 0px;
	display:table;
}
.lunleft ul li{
	display:table-cell;
	white-space:nowrap;
	line-height:.5rem;
	color:#fff;
	font-size:.2rem;
}